<link rel="stylesheet" href="/css/style.css" media="all">
<script src="/js/index.js" defer></script>
<div id="content">
    <!-- Award hints: -->
    <section id="award-hint-section">
        <div id="award-hint-header">
            <h1>The Rankings:</h1>
        </div>
        <div class="award-hint-container">
            <p>&#11088;&#11088;&#11088;</p>
            <p>&#11088;&#11088;</p>
            <p>&#11088;</p>
            <p>Bib Gourmand</p>
        </div>
    </section>
    <!-- Search: -->
    <section id="search-section">
        <form id=search-form" action="/search" meathod="GET">
            <input type="text" id="query" name="query" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </section>
</div>
