
#content {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

#search-section {
    background-color: #568259;
    padding: 2rem 10%;
    width: 80%;
}

#results-section {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: #D6CFCB;
    color: #41393E;
}

.search-result {
    border-radius: 10px;
    width: 300px;
    margin: 1rem;
}
.search-result-header {
    display: flex;
    border-bottom: 1px solid #bbb;
    justify-content: space-between;
    height: min-content;
}

.search-result-header-text {
    margin: 1rem 0 0 1rem;
}

.search-result-header-text * {
    margin: 0;
}

.search-result-header .restaurant-award {
    cursor: default;
}

.search-result-header-image {
    max-height: 150px;
}

.search-result-header-image img {
    max-width: 150px;
    height: 150px;
}

.search-result-links {
    border-bottom: 1px solid #bbb;
    display: flex;
    flex-direction: column;
}
.search-result-description .restaurant-description {
    font-weight: 300;
}

.search-result-misc-details li:nth-of-type(1)::marker {
    content: "📞 ";
}

.search-result-misc-details li:nth-of-type(2)::marker {
    content: "🌎 ";
}

span.dots {
    color: black !important;
    font-weight: bolder;
}

#page-select-section {
    background-color: red;
}
